.workout{
  margin-top: 15%;
  width: auto;
  height: auto;
}

.employee{
  margin-top: 15%;
  width: auto;
  height: auto;
}
.store{
  margin-top: 15%;
  width: auto;
  height: auto;
}


.foodies{
  margin-top: 0%;
  width: auto;
  height: auto;
}

.quiz{
  margin-top: 0%;
  width: auto;
  height: auto;
}

.weather{
  margin-top: 0%;
  width: auto;
  height: auto;
}

.Card {

}
